.container {
}

h2 {
}

.card_container {
  display: flex;
}

.plan_card {
  flex-basis: calc(100% / 3);
  background: #fff;
  padding: 20px 0 0;
  box-shadow: 0px 0px 6px -4px black;
}

.card_header {
  margin-bottom: 20px;
  text-align: center;
}

.price_block {
  margin-bottom: 25px;
  text-align: center;
}

.price_text {
  font-size: 15px;
  color: gray;
}

.price {
  color: rgb(43, 102, 241);
  font-size: 18px;
  font-weight: bold;
}

.button_block {
  margin-bottom: 15px;
  text-align: center;
}

.button_block > p {
  color: rgb(95, 144, 255);
}

.card_button_select {
  margin-top: 5px;
  width: 50%;
  background: transparent;
  color: rgb(35, 98, 245);
  border: 1px solid rgb(43, 102, 241);
  font-weight: bold;
  padding: 10px 0;
  transition: 0.3s all;
}

.card_button_select:hover {
  background: rgb(43, 102, 241);
  color: #fff;
}

.card_description_block {
  padding: 15px 0;
  background: rgb(173, 176, 194);
}

.card_description_block > p {
  color: rgb(107, 108, 122);
  font-size: 16px;
  font-weight: 700;
  margin-left: 20px;
}

ul {
  height: 115px;
}

ul li {
  color: rgb(107, 108, 122);
  font-size: 16px;
  font-weight: 700;
}

hr {
  width: 100%;
  color: white;
  margin-bottom: 15px;
}

.bottom_info > p {
  margin-left: 20px;
  color: rgb(107, 108, 122);
  font-size: 15px;
  font-weight: bold;
}

.plan_card:nth-child(2) {
  z-index: 1;
  transform: scale(1.06) translateY(7px);
}

.plan_card:nth-child(2) .card_button_select {
  color: #fff;
  background: rgb(43, 102, 241);
}

.plan_card:nth-child(2) .card_button_select:hover {
  color: rgb(43, 102, 241);
  background: #fff;
}
